<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        				   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        				   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
						   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
        				   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
        
	<context:component-scan base-package="com.k3k.unplat.controller"/>
	
	<!-- spring mvc对静态资源的访问-->
	<mvc:resources mapping="/styles/**" location="/styles/" />
	<mvc:resources mapping="/scripts/**" location="/scripts/"/>
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources location="/assets/" mapping="/assets/**"/>
	<mvc:resources location="/robots.txt" mapping="/robots.txt"/>
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">  
		<property name="converters">  
	    	<list>  
	        	<bean class="com.k3k.unplat.common.DateConverter" />  
	    	</list>  
		</property>  
	</bean>
	    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <bean  
                    class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/html;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
            </list>  
        </property>  
    </bean>  
    <bean id="mappingJacksonHttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" /> 
		
	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven conversion-service="conversionService"/>
	
	<bean id="urlResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" 
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
	    <property name="exceptionMappings">  
	        <props>  
	            <prop key="org.apache.shiro.authz.UnauthorizedException">/error/403</prop>
	        </props>  
	    </property>  
	</bean>  
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean -->
	<!-- 上传文件配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<!-- one of the properties available; the maximum file size in bytes -->  
		<property name="defaultEncoding" value="utf-8"/>
    	<property name="maxUploadSize" value="10240000"/>  
    </bean> 
    
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                    <props>  
                        <prop key="kaptcha.border">no</prop>  
                        <prop key="kaptcha.border.color">105,179,255</prop>  
                        <prop key="kaptcha.textproducer.font.color">black</prop>  
                        <prop key="kaptcha.image.width">350</prop>  
                        <prop key="kaptcha.textproducer.font.size">100</prop>  
                        <prop key="kaptcha.image.height">120</prop>  
                        <prop key="kaptcha.session.key">code</prop>  
                        <prop key="kaptcha.textproducer.char.length">5</prop>  
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>  
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.WaterRipple</prop><!-- 水纹 -->
                        <prop key="kaptcha.noise.color">black</prop><!-- 干扰色 -->
                        <prop key="kaptcha.background.clear.from">181,190,239</prop><!-- 背景颜色渐变，开始颜色 -->
                        <prop key="kaptcha.background.clear.to">255,255,255</prop><!-- 背景颜色渐变，结束颜色 -->
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean>
</beans>
