
.uploadify-btn{
	background: #5099cc;
	position: relative;
	display: block;
	padding: 5px 5px 5px 5px;
	color: #fff;
	text-decoration: none;
	width:63px;
	font-size:14px;
	font-weight:bold;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

