<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianyouxi.sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <application
        android:name="com.example.unitygamedemo.DemoAppliction"
        android:allowBackup="true"
        android:icon="@drawable/ty_icon"
        android:label="@string/app_name" >

        <meta-data
            android:name="WuYou_AppID"
            android:value="10" />
        <meta-data
            android:name="WuYou_AppKey"
            android:value="A4D4526098ECE73A52C913A15E8EB426" /> 
            
         <activity
            android:name="com.wuyouwan.view.login.MemberLogin"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.login.QuickRegister"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.common.NoticePanel"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.login.MobileRegister"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.membercenter.ImportInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.payment.AliPayActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wuyouwan.view.payment.YiBaoPayActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wuyouwan.view.login.BindPhoneSelectActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent"/>
        <activity
            android:name="com.wuyouwan.view.membercenter.KeFuActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity
            android:name="com.wuyouwan.view.membercenter.UserCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.AlertPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.payment.NewPayCenterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.payment.PhoneCardPayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.payment.PhoneInputUPActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyTransparent" />
        <activity
            android:name="com.wuyouwan.view.membercenter.SetAccountSafeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.GiftCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.MessageCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.GameRecommendActivity2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.GameRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.login.FindPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.wuyouwan.view.membercenter.GiftBoxActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>