<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nong.newww"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

  <!-- ======================================SDK 相关 start============================================== -->
    <!--添加必要的权限支持 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 关闭应用用 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 反射根据包名强制关闭应用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <!-- 添加必要的权限支持 -->
        
   <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <!-- 悬浮控件 -->
        <service android:name="com.mchsdk.paysdk.server.MCHFloatService" 
            android:exported="false">
            <intent-filter android:priority="1000"></intent-filter>
        </service>

        <!-- 定义监听卸载的广播   -->
        <receiver
            android:name="com.mchsdk.paysdk.bean.wx.AppInstallReceiver"
            android:label="@string/app_name" >
            <intent-filter>

                <!-- 一个新应用包已经安装在设备上，数据包括包名（最新安装的包程序不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- 一个新版本的应用安装到设备，替换之前已经存在的版本 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- 一个已存在的应用程序包已经从设备上移除，包括包名（正在被安装的包程序不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>           
        
        <!-- 支付宝 acitivity start -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 支付宝 acitivity  end -->
        
        <activity android:name="com.fanwei.bluearty.pluginmgr.DynamicActivity" 
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        
        
        <!-- 配置参数paysdk_signkey -->
        <meta-data
            android:name="paysdk_signkey"
            android:value="UFwDE14GBVkBXgQFXFgTWlpRV1BeXwFbAxZQAl5eB1k=" />
        <!-- 配置参数paysdk_ipaddress -->
        <meta-data
            android:name="paysdk_ipaddress"
            android:value="http://123.206.34.14/sdk.php"  />

        <!-- =========================================SDK相关 end=============================================== -->
    
    <!-- 主程序入口 -->
        <activity
            android:name="com.nong.newww.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
