<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.k3k.unplat.dao.LoginUserMapper" >
  <resultMap id="BaseResultMap" type="com.k3k.unplat.entity.LoginUserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="roleid" property="roleId" jdbcType="INTEGER" />
    <result column="gameid" property="gameId" jdbcType="INTEGER" />
    <result column="realname" property="realName" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, username, password, roleid, gameid, realname
  </sql>
  
  <select id="selectUserList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from qpmbanalysis.login_account
  </select>
  
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List"/>
  	from qpmbanalysis.login_account where userName=#{userName, jdbcType=VARCHAR}
  </select>

</mapper>